*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.overall{
    width: 90%;
    margin: auto;
   
}
nav>img{
    width:70px;
    height:70px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;
    width: 50%;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
}
button{
    padding:10px 20px 10px 10px;
    background-color: orange;
    border-radius: 20px;
    border: none;
}
span{
    padding: 5px 10px 5px 5px;
    background-color: white;
    border-radius: 20px;
}
i{
    color: white;
}

.banner{
    width:90%;
    height:50vh;
}
.banner .bannerimg{
    position: absolute;
    width:90%;
    height: 50vh;
    overflow: hidden;
    
}
.bannerimg>img{ 
    width:100%;
    height:100%;
}
.banner>.bannertext{
    position:relative;
    background-color: rgb(118,118,187,.3);
    top:150px;
    color:white;
    text-align: center;
}
.bannertext>h1{
    color:orange;
}
.section1{
    color:black;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1>i{
    background-color: orange;
    color:black;
}
.sec1texttitle h2>span{
    color: orange;
}
.sec1text{
    width:50%;
}
.sec1row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subsec{
    width:45%;
    box-shadow: 0px 2px 4px rgb(0,0,0,.2);
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
}
.section1 .sec1form{
    width:60%;
    border: 1px solid gray;
    border-radius: 20px;
    padding:100px;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:15px;
    text-align: left;
}
form>input,select{
    width:300px;
    height:6vh;
    border-radius: 10px;

}
.message{
    width:300px;
    height:10vh;
}
.mapimg>img{
    width:80%;
    margin: 100px;
    height: 70vh;
    border-radius: 20px;
}
.section3img>img{
    width:100%;
    height:65vh;
}
.section3img{
    width:90%;
    position:absolute;
}
.section3main .section3{
    text-align: center;
    line-height: 40px;
    position:relative;
    top:200px;
    color: white;
    background-color: rgb(118,118,118,0.5);
}
.section3>h1{
    color: orange;
}
.section3>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.footer{
    margin-top: 500px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #283451;
    line-height: 30px;
    color: white;
}
.footer1{
    width:70vh;
}
.footer1>img{
    width:40vh;
    height:40vh;
}
.footer ul{
    list-style-type: none;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer i{
    color: orange;
}





@media only screen and (max-width:330px){
    nav{
        display: block;
        align-items: center;
        text-align: center;
    }
    nav>ul{
        display: block;
        align-items: center;
        text-align: center;
        width:100%;
    }
    
    nav>button{
        align-items: center;
    }
    .banner .bannertext{
        top:20px;
    }
    .sec1text{
        width:100%;
    }
    .subsec{
        width:100%;
    }
    .section1{
        display: block;
    }
    .section1 .sec1form{
    width:100%;
    padding: 10px;
}
form>input,select{
    width:200px;
}
.message{
    width:200px;
}
.mapimg>img{
    width:100%;
    margin: 30px 0px;
}
.section2{
        display: block;
    
    }
    .section2 .sectimg{
        width:90%;
        margin: 100px 0px;
    }
    .section2main .section2{
        top:50px;
    }
    .section2img>img{
        width:100%;
        height: 100vh; 
    }
    .section2>ul{
        display:block;
    }
    .footer{
    display: block;
    text-align: center;
    margin-top:300px;
    padding: 10px;
    gap:20px;
}
.footer1 img{
    width:20vh;
    height:20vh;
}
.footer1{
    width:40vh;
}
}